<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Зв'язок знами</h5>
    <p class="card-text">Ми у Фейсбук:<a class="btn btn-primary btn-sm" href="https://www.facebook.com/logopedijka">facebook</a><p>
 <p>

Ми в Інстаграм: <a class="btn btn-outline-dark btn-sm" href="https://www.instagram.com/logopedijka">@logopedijka</a><p>


Наша група у Вайбері:<a class="btn btn-info btn-sm" href="https://invite.viber.com/?g2=AQBaczqwUhHLHUtRHVs0AoRcPr6B1SSd2FSnXieSnly84KwMw8t0%2FDLY5jr8ZHZJ">Viber</a>
<p>
Наша група в Телеграм:<a class="btn btn-primary btn-sm" href="https://t.me/logopedijka">Telegram</a><p>


Наш Ютюб канал:<a class="btn btn-danger btn-sm" href="https://www.youtube.com/channel/UCXrDX2OiNO2pYmBPtU6D_fQ">Youtube</a>
<p>

Контакти:<p>
Viber  або мобільний:  +380679684316<p>
Електронна адреса: logopedijka.studia@gmail.com
  </div>
  </div>