
<%@title="Логопедійка"%>
<h3> ❗️ До уваги логопедів ❗️</h3>
<p>Студія "Логопедійка" працює з бюджетними організаціями!</p>
<p>Тому, якщо вам потрібно купити комп'ютерні ігри для дітей з порушенням мовлення , то ми готові до співпраці!</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/shop"><img src= <%= asset_path('main2.png') %> class="rounded d-block w-100" alt="..."></a>
    </div>
  </div>
</div>