<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Обстеження писемного мовлення</h5>
    <p class="card-text">Студія логопедичних комп'ютерних ігор "Логопедійка" випустила НОВУ комп'ютерну гру для обстеження ПИСЕМНОГО мовлення у дітей.  Перетворіть обстеження на цікаву гру. Проводьте корекцію писемного мовлення за допомогою комп'ютерних ігор, які так люблять діти!</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 300грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/56K62iVdSgI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>