
<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Запуск мовлення Частина 5</h5>
    <p class="card-text">В п’ятій частині ігор для запуску мовлення ми починаємо вивчати дієслова. 
    <p>

 Мета ігор:<p>
ознайомити дітей із діями людини;<p>
вчити знаходити малюнки за заданими діями;<p>
ознайомити дітей із простими реченнями;<p>
навчити дітей усвідомлювати подану інформацію через самостійне складання простих речень;<p>
навчити дітей переосмислювати подану інформацію через самостійне  знаходження на малюнку описаної дії;<p>
продовжувати розвивати слухове сприйняття та знайомити дітей зі звуками, які може відтворити людина виконуючи певні дії;<p>
усвідомлювати основний зміст і знаходити малюнки за звучанням дій.</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 240грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/rDq3tX3frT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>