
<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Запуск мовлення Частина 4</h5>
    <p class="card-text">Розвиток лексичного та граматичного компонентів.

Якщо ми можемо уявити слово, то це означає, що воно має своє лексичне значення.
<p>
В четвертій частині ігор ми знайомимо дітей із лексичним значенням слова та узагальнюючими словами, які групують певні предмети, явища тощо. В збірці використано всього лексичних тем 21.
Вчимо дітей відмінювати слова у родовому відмінку. 
Також, вчимо утворювати речення.
<p>
Мета ігор, що увійшли до 4-ої збірки:
- ознайомити дітей зі словами заданих лесичних тем та вивчити їх;
-навчити дітей виділяти предмети однієї групи та знаходити зайве;
-навчити дітей відмінювати вивчені слова у родовому відмінку;
-навчити дітей співвідносити слова за призначенням, кольором, формою, місцерозташуванням, кількістю;
-ознайомити дітей із простим реченням;
-навчити дітей складати прості речення з двох, трьох слів за зразком;
-навчити дітей складати самостійно нові речення.</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 240грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/cKM4qgLBdMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>