
<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Запуск мовлення Частина 3</h5>
    <p class="card-text">Формування складової структури мовлення.
Кожне слово має свій ритм, тобто - кількість складів.
<p>На І етапі роботи важливо зосередити увагу дитини на різниці між словами за складовим роз­міром, тобто за кількістю складів у словах.
<p>Мета II етапу роботи полягає в навчанні дітей утворювати склади.
<p>На ІІІ етапі роботи вчимо швидко переключатися з одного складу на інший, тим самим утворювати слова із знайомих складів та звуків.
<p>Ігри третьої збірки можна використовувати з дітьми, які навчаються читати.</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 200грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/1tfLHmWKZbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>