
<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Запуск мовлення Частина 1</h5>
    <p class="card-text">Слухове сприйняття.
Це - ігри для звуконаслідування немовних звуків. <p>
Саме, перша частина ігор для запуску мовлення містить 8 ігор, за допомогою яких, дитина навчиться розрізняти немовні звуки, а також - почути мовні звуки та спробувати їх відтворити.
<p>
Якщо у іграх для ознайомлення дитина тільки прослуховує звуки (актуалізує опорні знання), то в наступних – дитина повторює звуки, знаходить відповідні малюнки (усвідомлює та переосмислює інформацію), що є основою технології критичного мислення.</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 240грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/ySuAAAXuQfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>