<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Відкрий слово</h5>
    <p class="card-text">Гра для розвитку вміння звукового аналізу та розвитку фонематичного слуху у дітей "Відкрий слово" за мотивами гри "Поле чудес"! 
В грі є 49 слів ( малюнки озвучені), які містять від 3-ох до 10-ти букв, а також МОЖЛИВІСТЬ ВВЕСТИ СВОЄ СЛОВО!
Педагог пропонує дітям по черзі "крутити барабан" та відкрити задану букву у слові. За правильну відповідь учень отримає 1 бал. Якщо відповідь буде неправильною, то 1 бал отримає вчитель! </p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 180грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/TQAtn8jXE2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>