<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Автоматизація звука Л (Збірка)</h5>
    <p class="card-text">Збірка комп'ютерних інтерактивних ігор для автоматизації звука [Л].<p> Усі малюнки озвучені, тому ігри підійдуть для дітей з порушенням слуху.  Перетворіть навчання в захоплюючу гру, в яку можна грати, вигравати чи програвати. 
Пройдіть усі етапи автоматизації від складу до речення!</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 360грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/N7_z2kjGEZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>