<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Від букви до слова</h5>
    <p class="card-text"><p> НОВИНКА! Інтерактивні ігри для навчання читання "Від букви до слова".
     <p>Перетворіть процес навчання читання в захоплюючу гру! Для кого ці ігри?
      <p> - Для учителів-логопедів, які навчають дітей із дислексією.
      <p> - Для учителів початкових класів, які бажають навчити дітей легко читати.
      <p> - Для батьків, які навчають дітей читати самостійно.
     Ваші діти будуть охоче навчатися читати за допомогою комп'ютерних інтерактивних ігор!</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 350грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/RoclxQGloCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>