<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Автоматизація звука Р (Збірка)</h5>
    <p class="card-text">Збірка комп'ютерних інтерактивних озвучених ігор студії "Логопедійка" для дітей, які автоматизовують звук [P] у складах, словах та реченнях.</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 360грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    <p class="card-text">Важливо❗️❗️❗️
 Мовленнєвий матеріал НЕ містить звуків (л,в,й), які диференціюються зі звуком [P], 
що є умовою при автоматизації звуків. </p>
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/bWsjaxl7Vws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>