<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Бачу, чую, розумію. Тваринний світ.</h5>
    <p class="card-text">На початку роботи з немовленнєвими дітьми ми обстежуємо навичку розуміння мовлення.
За допомогою цієї гри ми можемо обстежити навичку розуміння мовлення, а саме: знання назв 35 об'єктів тваринного світу.
Також, гра призначена для розвитку фонематичного слуху: сприймання слів на слух та знаходження однакових слів.
Розвиваємо слухо-мовленнєву пам'ять.
І, основне, за допомогою гри дитина зможе вивчити назви 35 об'єктів тваринного світу. </p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 100 грн.</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/YNQ9VqwOAt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>