<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Бачу, чую, розумію! Овочі, фрукти, ягоди.</h5>
    <p class="card-text">Ігри для обстеження навички розуміння мовлення, а також вивчення назв фруктів, овочів, ягід.
     Розвивають фонематичний слух та слухомовленнєву пам'ять. 
    Збірка містить 6 ігор та ділить завдання на легші і важчі. </p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 75 грн.</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/rRVEHArSvUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>