<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Збірка ігор для автоматизації звука Ж.</h5>
    <p class="card-text">Збірка налічує 12 комп'ютерних озвучених інтерактивних ігор для розвитку наочно-образного мислення, пам'яті, уваги та автоматизації звука [Ж] у складах, словах, реченнях.. </p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 300 грн.</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/wf8kgvqUacE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>