
<div class="card mb-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Диференціація "С-Ш"</h5>
    <p class="card-text">Гра для диференціації звуків С-Ш за лексичними темами: плоди, посуд, електричні прилади, тварини</p>
    <p class="card-text">Вимоги до системи: Windows 7 або новіший, вільний USB порт для флешки.</p>
    <p class="card-text">Замовляйте по телефону: +380679684316.</p>
    <p class="card-text"><small class="text-muted">Ціна: 60грн</small></p>
    <p class="card-text"><small class="text-muted">Флеш пристрій оплачується окремо.</small></p>
    
  </div>
  <center><iframe width="640" height="480" src="https://www.youtube.com/embed/BMAvlV6QTDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>