<h1>Студія комп'ютерних ігор 'Логопедійка'</h1>
<% @post.each do |post| %>
<h3><%= post.title %></h3>
<p><%= post.body %></p>
<%= link_to "Детальніше", post_path(post), :class => "btn btn-outline-primary" %>
<% end %>