<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<!--<%= link_to "Редагувати", edit_post_path(@post), :class => "btn btn-secondary" %>-->
<!--<%= link_to "Видалити", post_path(@post), method: :delete, data: {confirm: "Delete?"}, :class => "btn btn-secondary" %>-->