<h1>Автоматизація</h1>
<p></p>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/wf8kgvqUacE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звука Ж (Збірка)<span class="badge bg-danger">Новинка</span></h5>
            <p class="card-text text-end">Ціна: 360грн</p>
            <a href="/games/g35" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

<div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/bWsjaxl7Vws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звука Р (Збірка)</h5>
            <p class="card-text text-end">Ціна: 360грн</p>
            <a href="/games/g31" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

<div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/N7_z2kjGEZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звука Л (Збірка)</h5>
            <p class="card-text text-end">Ціна: 360грн</p>
            <a href="/games/g29" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/DWZ31sqK6Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звука Ш (Збірка)</h5>
            <p class="card-text text-end">Ціна: 360грн</p>
            <a href="/games/g28" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/G7lk_ySO6tg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Доміно Р-Л</h5>
            <p class="card-text text-end">Ціна: 90грн</p>
            <a href="/games/g9" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/CS6ihdkJx5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Доміно С-Ш</h5>
            <p class="card-text text-end">Ціна: 90грн</p>
            <a href="/games/g8" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/J8ApKKECf-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Автоматизація звука С (Збірка)</h5>
            <p class="card-text text-end">Ціна: 360грн</p>
            <a href="/games/g26" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/bJhu9uCmUjM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару "Р"</h5>
          <p class="card-text text-end">Ціна: 90грн</p>
            <a href="/games/g22" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/ysY8kgimqK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару "Л"</h5>
           <p class="card-text text-end">Ціна: 90грн</p>
            <a href="/games/g23" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
</div>
