<h1>Диференціація Звуків</h1>
<p></p>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/ltll4zUc8nA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація С-Ш</h5>
            <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g0" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/fQguFS9syGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація Р-Л</h5>
            <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g1" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/DKe-nM3iz8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація З-Ж</h5>
            <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g2" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/p_1NMq9EdHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація В-Л</h5>
          <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g3" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/BMAvlV6QTDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація С-Ш </h5>
           <p class="card-text">За лексичними темами: плоди, посуд, електричні прилади, тварини</p>
            <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g6" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/hL_rZHFOF60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Диференціація С-Ш</h5>
           <p class="card-text">За лексичними темами: квіти, іграшки, меблі, одяг</p>
           <p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g7" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/2pqUUAmAO1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Що зайве? Р-Л</h5><p class="card-text text-end">Ціна: 50грн</p>
            <a href="/games/g4" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/n37f_QUX0cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару З-Ж</h5>
           <p class="card-text text-end">Ціна: 75грн</p>
            <a href="/games/g18" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/YEdpjFCMrGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару Р-Л</h5>
           <p class="card-text text-end">Ціна: 75грн</p>
            <a href="/games/g19" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/7zkXv1og0K4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару С-Ш</h5>
           <p class="card-text text-end">Ціна: 75грн</p>
            <a href="/games/g20" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/f7gGYq3-VZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Знайди пару Ц-Ч</h5>
           <p class="card-text text-end">Ціна: 75грн</p>
            <a href="/games/g21" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
</div>
