<h1>Різне</h1>
<p>Різні Супер-ігри для розвитку мовлення</p>
<p></p>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/rRVEHArSvUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Бачу, чую, розумію! Овочі, фрукти, ягоди. <span class="badge bg-danger">Новинка</span></h5>
          <p class="card-text"> Розвиваємо слухо-мовленнєву пам'ять</p>
            <p class="card-text text-end">Ціна: 75грн </p>
            <a href="/games/g34" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/YNQ9VqwOAt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Бачу, чую, розумію - Тваринний світ <span class="badge bg-danger">Новинка</span></h5>
          <p class="card-text"> Розвиваємо слухо-мовленнєву пам'ять</p>
            <p class="card-text text-end">Ціна: 100грн </p>
            <a href="/games/g33" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/m6DTrUNmNOo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Слухай, відтворюй, шукай  <span class="badge bg-danger">Новинка</span></h5>
          <p class="card-text"> Розвиток фонематичних процесів</p>
            <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g32" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/RoclxQGloCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Від букви до слова</h5>
          <p class="card-text"> Ігри для навчання читання</p>
            <p class="card-text text-end">Ціна: 350грн</p>
            <a href="/games/g30" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/7wqYC6LHC2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Тренажер</h5>
          <p class="card-text"> Тенажер правильного читання та письма</p>
            <p class="card-text text-end">Ціна: 180грн</p>
            <a href="/games/g5" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/TQAtn8jXE2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Відкрий Слово</h5>
            <p class="card-text text-end">Ціна: 150грн</p>
            <a href="/games/g24" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/5GObjCVX8-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Розвиток Мовлення частина 1</h5>
            <p class="card-text text-end">Ціна: 300грн</p>
            <a href="/games/g25" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
</div>