<h1>Відеоігри</h1>
<p>Різні відеоігри для розвитку мовлення</p>
<p></p>

<div class="row row-cols-1 row-cols-md-3 g-4">

   <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/mesV4kf-re8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Казка про звук С <span class="badge bg-danger">Новинка</span></h5>
        <p class="card-text">Глухим звукам присвячується 🙂
            Велику увагу я приділяю вимові глухих звуків. 
            Адже половина дітей у 2-му класі не знає, де писати букву И у слові. А проблему можна вирішити, навчаючи дітей правильній вимові приголосних звуків.</p>
        <p class="card-text text-end">Ціна: 90грн</p>
      </div>
    </div>
  </div>

   <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/g75jBwimucU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">ЛОГОПЕДИЧНА КАЗКА для постановки звука [Л]. <span class="badge bg-danger">Новинка</span></h5>
        <p class="card-text"> Покажіть дітям казку! Цікава казка у поєднанні з динамічними вправами, а також проспівками складів допоможе вашим учням навчитися правильно вимовляти звук [Л]."</p>
            <p class="card-text text-end">Ціна: 120грн</p>
         </div>
    </div>
  </div>

   <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/0BP5ChK_02Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Казка про звук Ш 
        <p class="card-text"> Логопедична казка "Як буква "Ша" вчила Язичок вимовляти звук [Ш]?"</p>
            <p class="card-text text-end">Ціна: 60грн</p>
         </div>
    </div>
  </div>

   <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/8nHBFOvgQ78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Казка про звук [P] для постановки звука 
        <p class="card-text"> Віршований супровід казки допоможе вашим дітям дізнатися про утворення та відтворення звука [Р]</p>
            <p class="card-text text-end">Ціна: 60грн</p>
         </div>
    </div>
  </div>

   <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/FuWw-RyjHH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Римівка для атоматизації звука Ш</h5>
        <p class="card-text"> у скаладах зі збігом приголосних звуків</p>
            <p class="card-text text-end">Ціна: 25грн</p>
         </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/4kJFNRSVNRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Збірка відео</h5>
        <p class="card-text">Для проведення артикуляційної гімнастики. [4 відеоігри]</p>
            <p class="card-text text-end">Ціна: 120грн</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/NdmMnbohvZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Збірка ігор для диференціації звуків</h5>
        <p class="card-text">[4 відеоігри]</p>
            <p class="card-text text-end">Ціна: 120грн (За збірку)</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/d24_hp2AIuc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Збірка проспівок</h5>
        <p class="card-text">Звуки: Л, Л', В, Й. [5 відеоігор]</p>
            <p class="card-text text-end">Ціна: 120грн (За збірку)</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/6lBHEfcNSJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Збірка проспівок</h5>
        <p class="card-text">Шиплячі та свистячі звуки. [5 відеоігор]</p>
            <p class="card-text text-end">Ціна: 120грн (За збірку)</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/IE31s04ng7o " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Складаємо одяг</h5>
        <p class="card-text">С-Ш</p>
            <p class="card-text text-end">Ціна: 25грн</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/PqnFnuAVEwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Хто де живе?</h5>
        <p class="card-text">С-Ш, продукти харчування.</p>
            <p class="card-text text-end">Ціна: 25грн</p>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/d6yBMftWMc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Музична збірка римівок для автоматизації</h5>
        <p class="card-text">Звуки: С, Ш, Л, Р</p>
            <p class="card-text text-end">Ціна: 125грн (За збірку)</p>
         </div>
    </div>
  </div>

</div>