<h1>Запуск Мовлення</h1>
<p></p><div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/rRVEHArSvUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Бачу, чую, розумію! Овочі, фрукти, ягоди. <span class="badge bg-danger">Новинка</span></h5>
          <p class="card-text"> Розвиваємо слухо-мовленнєву пам'ять</p>
            <p class="card-text text-end">Ціна: 75грн </p>
            <a href="/games/g34" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/YNQ9VqwOAt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Бачу, чую, розумію - Тваринний світ <span class="badge bg-danger">Новинка</span></h5>
          <p class="card-text"> Розвиваємо слухо-мовленнєву пам'ять</p>
            <p class="card-text text-end">Ціна: 100грн </p>
            <a href="/games/g33" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/ySuAAAXuQfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Частина 1</h5>
            <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g17" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/YsASLXM2tYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Частина 2</h5>
            <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g16" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/1tfLHmWKZbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Частина 3</h5>
            <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g15" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/cKM4qgLBdMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Частина 4</h5>
          <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g14" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <iframe class="card-img-top" src="https://www.youtube.com/embed/rDq3tX3frT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Частина 5</h5>
           <p class="card-text text-end">Ціна: 200грн</p>
            <a href="/games/g13" class="btn btn-primary text-end">Детальніше</a>
         </div>
    </div>
  </div>
</div>

